@mixin font-35 {
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
}
@mixin font-32 {
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
}
@mixin font-30 {
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}
@mixin font-24 {
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
}
@mixin font-20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
@mixin font-18 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
@mixin font-16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
@mixin font-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@mixin font-12 {
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
}

@mixin font-48 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 500;
}
@mixin font-40 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
}
