@import "../../sass/global.scss";

.header {
  padding: 10px 100px;
  background-color: var(--background-color-gray);

  .main-flex {
    display: flex;
    justify-content: space-between;

    .flex {
      display: flex;
      align-items: center;
      gap: 10px;

      .icon {
        .icon-star {
          font-size: 20px;
          color: var(--icon-background-color);
        }
      }

      p {
        @include font-16;
        padding-top: 5px;
        color: var(--color-gray);
      }

      span {
        display: block;
        @include font-16;
        padding-top: 5px;
        color: var(--color-gray);
      }
    }

    .flex-items {
      display: flex;
      align-items: center;
      gap: 20px;
      .icon {
        display: flex;
        gap: 20px;

        .icon-tel {
          font-size: 20px;
        }

        p {
          @include font-16;
        }

        &::after {
          content: "";
          display: block;
          min-height: 15px;
          width: 1px;
          background-color: var(--color-gray);
        }
      }

      a {
        display: block;
        @include font-16;
      }

      a {
        display: block;
        @include font-16;
      }
    }
  }
}

header {
  padding: 20px 100px;
  border-bottom: 1px solid var(--color-gray);

  .flex-header {
    display: flex;
    justify-content: space-between;

    .logo {
      img {
        width: 150px;
      }
    }

    .flex-main {
      display: flex;
      .header-items {
        display: flex;
        gap: 35px;

        a {
          display: block;
          color: var(--color-gray);
          text-decoration: none;
          @include font-16;
        }

        &::after {
          content: "";
          display: block;
          width: 1px;
          height: 25px;
          background-color: #000;
        }
      }

      .items {
        h2 {
          padding: 0 35px;
          @include font-16;
          font-weight: 600;
        }
      }

      .menu-icon {
        display: none;

        .icon-menu {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px 40px;
    background-color: var(--background-color-gray);

    .main-flex {
      display: flex;
      justify-content: space-between;

      .flex {
        display: flex;
        align-items: center;
        gap: 10px;

        .icon {
          .icon-star {
            font-size: 16px;
            color: var(--icon-background-color);
          }
        }

        p {
          @include font-12;
          padding-top: 5px;
          color: var(--color-gray);
        }

        span {
          display: block;
          @include font-12;
          padding-top: 5px;
          color: var(--color-gray);
        }
      }

      .flex-items {
        display: flex;
        align-items: center;
        gap: 20px;
        .icon {
          display: flex;
          gap: 10px;

          .icon-tel {
            font-size: 16px;
          }

          p {
            @include font-12;
          }

          &::after {
            content: "";
            display: block;
            min-height: 15px;
            width: 1px;
            background-color: var(--color-gray);
          }
        }

        a {
          display: block;
          @include font-12;
        }

        a {
          display: block;
          @include font-12;
        }
      }
    }
  }

  header {
    padding: 15px 70px;

    .flex-header {
      display: flex;
      align-items: center;
      gap: 30px;
      justify-content: space-between;

      .logo {
        img {
          width: 150px;
        }
      }

      .flex-main {
        display: flex;
        .header-items {
          display: flex;
          gap: 35px;

          a {
            display: block;
            color: var(--color-gray);
            text-decoration: none;
            @include font-12;
          }

          &::after {
            content: "";
            display: block;
            width: 1px;
            height: 25px;
            background-color: #000;
          }
        }

        .items {
          h2 {
            padding: 0 35px;
            @include font-12;
            font-weight: 600;
          }
        }

        .menu-icon {
          display: none;

          .icon-menu {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    display: none;
  }

  header {
    padding: 25px 0px;

    .flex-header {
      display: flex;
      padding: 0px 10px;
      .logo {
        img {
          width: 150px;
          padding-top: 10px;
        }
      }

      .flex-main {
        display: flex;
        .header-items {
          display: none;

          // display: flex;
          // gap: 35px;
          a {
            display: block;
            color: var(--color-gray);
            text-decoration: none;
            @include font-16;
          }

          &::after {
            content: "";
            display: block;
            width: 1px;
            height: 25px;
            background-color: #000;
          }
        }

        .items {
          display: none;

          h2 {
            padding: 0 35px;
            @include font-16;
            font-weight: 600;
          }
        }

        .menu-icon {
          display: block;

          .icon-menu {
            font-size: 30px;
            color: #000;
            font-weight: 500;
          }
        }
      }
    }
  }
}
