:root{
    --icon-background-color:#EC7F07;
    --background-color-gray:#F3F4F5;
    --color-gray:#5E6263;
    --font-color:#fff;
    --bg-color-white:#fff;
    --button-bg-color:#1678C0;
    --bg-color-gray:#f5f5f5;
    --color-black:#000;
    --background-color:#222;
    --color-dark:#949494;
    --color-blue:#1678C0;
    --border-color:#050505;
    --color-dark-gray:#5E6263;
    --background-colot-transpearnt:transparent;
    --border-color:#323232;
    --background-color-black:#000;
}
